  .bg
  {
    border-radius: 10px;
    margin-top: 60px;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
  }
  
  .bigImg
  {
    width: 100%;
    z-index: 1;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 0.5s;
    margin: 0 auto;
  }

  .bigImg:hover
  {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    filter: brightness(40%);
  }
  
  
  /*area*/
  .blcak-box
  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
  }

  .blcak-box p
  {
    font-size: 1.4rem;
    margin: 0.4rem;
    text-align: center;
  }

  /*topArea*/
  .topArea
  {
    display: flex;
    height: 12vh;
  }

  .leftBox
  {
    width: 80%;
    height: 20vh;
  }

  .text
  {
    margin-top: 0.5rem;
    line-height: 1.5;
  }

  .myName
  {
    display: flex;
    vertical-align: middle();
  }
  
  .img-me
  {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
  }

  .rightBox
  {
    width: 20%;
    height: 10vh;
    text-align: center;
  }


  /*midArea*/
  .aboutMe
  {
    margin-bottom: 1.5rem;
  }

  .aboutMe p
  {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .experience
  {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-color: #525252;
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
    justify-content: center;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
  }

  .midArea
  {
    margin-bottom: 1.5rem;
  }

  .exrTime
  {
    font-weight: 800;
    margin-right: 1rem;
    font-size: 1.2rem;
  }

  /*myLove*/
  .myLove
  {
    margin-bottom: 1.5rem;
  }

  .interests
  {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-color: #525252;
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
  }

  /*underArea*/
  .underArea
  {
    margin-bottom: 1.rem;
  }

  .contact
  {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-color: #525252;
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
  }

  .uL
  {
    padding: 0;
  }

  .contactA
  {
    background-color: transparent;
    height: 2.5rem;
  }

  .bTn
  {
    background-color: transparent;
    color: #81E6d9;
    font-size: 1rem;
    height: 2.5rem;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: 2px;
    min-height: 2.5rem;
    border-style: none;
    padding: 0 1rem;
    border-radius: 5px;
    transition: 0.5s;
  }

  .btnColorSun
  {
    transition: 0.5s;
    background-color: rgba(129, 230, 217, .1);
    text-decoration:underline;
    text-underline-offset: 5px;
    text-decoration-color : rgb(239, 47, 136);
  }

  .btnColorMoon
  {
    transition: 0.5s;
    background-color: rgb(166, 141, 173, .4);
    text-decoration:underline;
    text-underline-offset: 5px;
    text-decoration-color : #F9D371;
  }
 

  