@media screen and (max-width:1024px)
{
    .bg
    {
        height: 23vh;
    }    
}




@media screen and (max-width:768px)
{
    section
    {
        height: 240vh;
    }

    .rightBox
    {
        width: 100%;
        margin-top: 1rem;
    }

    .bigName
    {
        margin-bottom: 0;
    }

    .leftBox
    {
        height: 10vh;
    }

    .rightBox
    {
        width: 30%;
        margin: 0 auto;
    }
}

@media screen and (max-width:560px)
{
    .content
    {
        width: 100%;
        flex-direction: column;
    }

    .block
    {
        margin: 0;
        width: 100%
    }
}

@media screen and (max-width:567px)
{
    .bigName {
       font-size: 1rem;
    }
}

@media screen and (max-width:480px)
{
    .bg
    {
        height: 30vh;
    }

    .bigImg
    {
        width: 100%;
        display:block;
    }

    .blcak-box
    {
        height: 6vh;
    }
    
    .topArea
    {
        flex-direction:column;
        height: 500px;
        display: block;
    }

    .block
    {
        height: 45vh;
    }

    .topArea
    {
        height: 25vh;
        margin: 0%;
    }
    
    .leftBox
    {
        width: 100%;
        height: 11vh;
        margin: 0;
    }

    .rightBox
    {
        margin-top: 1rem;
        width: 100%;
        height: 11vh;
    }
}

@media screen and (max-width:420px)
{
    section
    {
        height: 240vh;
    }

    .bg
    {
        height: 25vh;
    }    
}



@media screen and (max-width:420px)
{
    .bg
    {
        height: 28vh;
    }    
}




@media screen and (max-width:390px)
{
    section
    {
        height: 240vh;
    }

    .main
    {
        padding: 0 1rem;
    }

    .bg
    {
        height: 25vh;
    }    

    .bigImg
    {
        width: 100%;
        display:block;
        margin: 0 auto 0;
    }

    .blcak-box
    {
        height: 10vh;
        width: 100%;
        font-size : 1.2rem;
        padding: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .blcak-box p
    {
        font-size: 1rem;
    }

    .topArea
    {
        height: 25vh;
        margin: 0%;
    }
    
    .leftBox
    {
        width: 100%;
        height: 11vh;
        margin: 0;
    }

    .rightBox
    {
        margin-top: 1rem;
        width: 100%;
        height: 11vh;
    }
}

@media screen and (max-width:375px)
{
    .bg
    {
        height: 25vh;
    }    
}

@media screen and (max-width:360px)
{
    .bg
    {
        height: 25vh;
    }    
}







